/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
  font-family: 'LCD5x8';
  src: url('5x8_lcd_hd44780u_a02.eot?') format('eot'),
    url('5x8_lcd_hd44780u_a02.svg#5x8-LCD-HD44780U-A02') format('svg'),
    url('5x8_lcd_hd44780u_a02.woff') format('woff'),
    url('5x8_lcd_hd44780u_a02.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.content {
  position: relative;
}

*[data-action] {
  cursor: pointer;
}
select[data-watch='scale'],
select[data-watch='scale'] option,
select[data-watch='select-encoder'],
select[data-watch='select-encoder'] option {
  text-align: right;
  text-align-last: right;
}

.oled input,
.oled select,
#browser input,
#preset ul,
.matrixfont {
  font-family: 'LCD5x8', Courier, monospace;
  font-size: 16px;
  font-weight: bold;
}

.oled {
  position: absolute;
  top: 102px;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  height: 130px;
  box-shadow: 0 0 10px #222;
  color: #feff5f;
  background: linear-gradient(8deg, #000, #222, #333);
  line-height: 28px;
  box-sizing: border-box;
  border: 2px solid #ddd;
  border-radius: 6px;
  /* padding: 5px 5px 5px 9px; */
}

.modecontainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px 5px 5px 9px;
}

.tapicon, .rotateicon {
  position: absolute;
  bottom: 0;
  left: 40%;
  display: none;
}
#contentcontainer[data-mode='modepush'] .selected .tapicon {
  display: block;
}

#contentcontainer[data-mode='modeturn'] .selected .rotateicon {
  display: block;
}


.oled .centerline {
  position: absolute;
  left: 50%;
  width: 1px;
  top: 10px;
  bottom: 10px;
  border-left: 1px solid #feff5f;
}

.oled .selected {
  background: #feff5f;
  color: #000;
}

.oled input,
.oled select {
  background: transparent;
  color: #feff5f;
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  display: inline-block;
  outline: none;
  box-shadow: inset 2px 2px 2px #000;
}
.oled select option {
  background-color: #000;
}
.oled select:focus {
  outline: 2px solid Highlight;
}
.oled input {
  text-align: right;
  padding: 2px 0;
}
.oled span {
  display: inline-block;
  white-space: nowrap;
  box-sizing: border-box;
}
.oled .a {
  width: 22%;
}
.oled .b {
  width: 25%;
  margin-right: 3%;
}
.oled .c {
  margin-left: 4%;
  width: 25%;
}
.oled .d {
  width: 19%;
}
.oled .c.number_h {
  width: 13%;
}
.oled .d.number_h {
  width: 15%;
}
.oled .d.number_h + .d.number_h {
  border-left: 1px solid #990;
  margin-left: 2%;
  padding-left: 1%;
}

.typed[data-type='0'] .lower,
.typed[data-type='0'] .upper,
.typed[data-type='1'] .lower,
.typed[data-type='1'] .upper,
.typed[data-type='3'] .number,
.typed[data-type='5'] .number,
.typed[data-type='6'] .number,
.typed[data-type='7'] .lower,
.typed[data-type='7'] .upper,
.typed[data-type='7'] .mode {
  visibility: hidden;
}

.oled[data-mode='channel'] span.channel,
.oled[data-mode='number'] span.number,
.oled[data-mode='type'] span.type,
.oled[data-mode='scale'] span.scale,
.oled[data-mode='mode'] span.mode,
.oled[data-mode='upper'] span.upper,
.oled[data-mode='lower'] span.lower {
  background-color: #660;
}

.oled .number_h,
.oled[data-type='8'] .number_l {
  display: none;
}
.oled[data-type='8'] .number_h {
  display: inline-block;
}

#toallenc {
  position: absolute;
  bottom: -16px;
  width: 72%;
  left: 50%;
  margin-left: -36%;
  padding: 4px;
  font-weight: normal;
  line-height: 1em;
  font-family: Verdana, sans-serif;
  display: none;
}

*[data-mode='nothing'] #editnothing {
  display: none;
}
#editnothing {
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  right: -15px;
  top: -13px;
  border: 2px solid #ccc;
  border-radius: 50%;
  background: #000;
  z-index: 1;
  text-align: center;
  font-size: 18px;
  box-shadow: 0 0 6px #000;
}
#editnothing:hover {
  background-color: #770;
}

#fillnumbers {
  display: none;
  position: absolute;
  width: 60%;
  left: 50%;
  margin-left: -30%;
  bottom: -8px;
  padding: 5px;
}

*[data-mode='number'] #fillnumbers {
  display: block;
}
*[data-mode='channel'] #fillnumbers {
  display: block;
}

main {
  box-sizing: border-box;
  margin: 0 auto;
  width: 500px;
  height: 818px;
  background: url('ec4.jpg') no-repeat;
  background-size: 100% 100%;
  position: relative;
}
#ctrlcontainer {
  position: absolute;
  top: 265px;
  bottom: 60px;
  left: 22px;
  right: 28px;
}
main section {
  box-sizing: border-box;
  float: left;
  width: 25%;
  height: 24%;
  position: relative;
}

.enc {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #333;
}
.enc:nth-child(-n + 3) {
  border-top: none;
}

.enc:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.enc.selected {
  background-color: rgba(255, 255, 0, 0.3);
}

.enc .knob {
  position: absolute;
  left: 50%;
  top: 70px;
  width: 64px;
  height: 64px;
  margin-left: -32px;
  margin-top: -32px;
  border-radius: 50%;
  background-color: #222;
  box-shadow: 0 0 15px #777;
  border: 2px solid #000;
}

.enc .n {
  position: absolute;
  right: 0;
  left: 0;
  top:12px;
  margin: 0 5px;
  text-align: center;
}

.enc .v {
  position: absolute;
  right: 0;
  left: 0;
  top: 45px;
  text-align: center;
  margin: 0 5px;
}

.enc .n input {
  color: #feff5f;
  background: #525322;
  padding: 0 5px;
  box-shadow: inset 1px 1px 2px #000;
  border: none;
  width: 3em;
  text-align: left;
}

.enc .v input {
  width: 40%;
  text-align: right;
  padding: 2px 5px 0 5px;
  color: #ffffff;
  background: transparent;
  font-size: 15px;
  /* box-shadow: inset 1px 1px 2px #333; */
  border: none;
  border-bottom: 1px solid #aaa;
  vertical-align: bottom;
  text-align: center;
}

.enc .v label {
  color: #fff;
  font-size: 14px;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

.enc select {
  width: 100%;
  color: #ffffff;
  background: transparent;
  font-size: 14px;
  /* box-shadow: inset 1px 1px 2px #333; */
  border: none;
  border-bottom: 1px solid #aaa;
  border-radius: 0;
  padding: 4px 0 2px 0;
  text-align: center;
  text-overflow: ellipsis;
  vertical-align: bottom;
}

.enc select option {
  background-color: #222;
}

.enc .mode,
.enc .type,
.enc .scale,
.enc .channel,
.enc .number,
.enc .lower,
.enc .upper,
.enc .pb_display,
.enc .pb_channel,
.enc .pb_number,
.enc .pb_type,
.enc .pb_mode,
.enc .pb_lower,
.enc .pb_upper  {
  display: none;
}

*[data-mode='mode'] .enc .mode,
*[data-mode='type'] .enc .type,
*[data-mode='scale'] .enc .scale,
*[data-mode='channel'] .enc .channel,
*[data-mode='number'] .enc .number,
*[data-mode='lower'] .enc .lower,
*[data-mode='upper'] .enc .upper,
*[data-mode='pb_display'] .enc .pb_display,
*[data-mode='pb_channel'] .enc .pb_channel,
*[data-mode='pb_number'] .enc .pb_number,
*[data-mode='pb_type'] .enc .pb_type,
*[data-mode='pb_mode'] .enc .pb_mode,
*[data-mode='pb_lower'] .enc .pb_lower,
*[data-mode='pb_upper'] .enc .pb_upper,
*[data-mode='link'] .enc .link.turn,
*[data-mode='pb_link'] .enc .link.push {
  display: block;
}

.enc[data-type='8'] .standard {
  display: none;
}
.enc[data-type='8'] .hi-lo {
  display: block;
}
.enc .hi-lo {
  display: none;
}

.enc .hi-lo input {
  width: 30%;
  display: inline-block;
}

.enc .note input,
.enc .pb_note input {
  width: 30%;
  display: inline-block;
}
.enc .note select,
.enc .pb_note select {
  width: 50%;
  display: inline-block;
}



.enc .note,
.enc .pb_note {
  display: none;
}

.enc[data-type='7'] .note,
.enc[data-pb_type='1'] .pb_note {
  display: block;
}

.enc[data-type='7'] .standard,
.enc[data-pb_type='1'] .pb_standard {
  display: none;
}


#preset {
  position: absolute;
  top: 6px;
  left: -150px;
  width: 150px;
}

#preset .header span {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
}
#preset .header span:first-child {
  padding-left: 5px;
}

#preset ul {
  position: relative;
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

#browser input {
  background: transparent;
  color: #feff5f;
  padding: 0;
  border: none;
  width: 4em;
  cursor: pointer;
  outline: none;
}

#preset #browser {
  border: 2px solid #eee;
  border-radius: 6px;
  padding: 2px;
}

#preset #browser li {
  cursor: pointer;
  padding: 4px;
  border-bottom: 1px solid black;
  color: #feff5f;
}

#preset ul#browser ul {
  display: none;
  position: absolute;
  top: 2px;
  right: 2px;
  width: 50%;
  background: #666;
  border-left: 2px solid #666;
}

#preset ul#browser > li {
  width: 50%;
}

#preset ul#browser .selected ul {
  display: block;
}

#preset #browser li.selected {
  background-color: #c00 !important;
}
#preset #browser li li.selected::after {
  content: '▶';
  font-family: Arial, sans-serif;
  color: #fff;
  position: absolute;
  right: -12px;
}

#preset #browser ul li,
#preset #browser li:hover {
  background-color: #440;
}

#preset .tools {
  margin-top: 0.5em;
}

#preset .tools a {
  display: inline-block;
  vertical-align: middle;
  width: 46%;
  margin: 2% 3% 2% 1%;
  padding: 2px;
}

.asbutton {
  cursor: pointer;
  color: #aaa;
  font-size: 10px;
  text-align: center;
  box-sizing: border-box;
  background: #333;
  background-image: linear-gradient(to bottom, #585858, #282828);
  border-radius: 4px;
  box-shadow: 0 0 5px #000;
}

.asbutton:hover {
  color: #fff;
  background-color: #777;
  background-image: none;
}

#dim {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.67);
}

#merge {
  position: fixed;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  background: #ccc linear-gradient(#ccc, #aaa);
  padding: 0 10px 10px 10px;
  box-shadow: 0 0 8px #000;
  max-height: 80%;
  overflow: auto;
  border: 2px solid #000;
  border-radius: 4px;
}

#merge .content {
  max-width: 700px;
  margin: 0 auto .5em auto;
  color: #000;
  padding: 0 .75em;
  box-sizing: border-box;
  font-size: 0.8em;
}

.mergecontainer {
  font-size: 1em;
  font-family: monospace;
  text-align: center;
  width: 700px;
  margin: 0 auto .5em auto;
  background: #222;
  padding: 8px 0 2px 0;
}

.mergecontainer div.msetup {
  border-left: none;
  border-right: none;
  margin: 0 0 8px 0;
}

.mergecontainer span {
  display: inline-block;
  padding: 3px;
  border: 1px solid #666;
  border-radius: 4px;
  cursor: pointer;
  color: #777;
  white-space: pre;
}

.mergecontainer span[data-selected="1"] {
  background: #feff5f;
  color: #000;
  border-color: #000;
}

.mergecontainer span:hover {
  outline: 2px solid #feff5f;
}

.mergecontainer span.msetup {
  padding-right: 6px;
  background-color: #633;
  color: #aaa;
}
.mergecontainer span.msetup[data-selected="1"] {
  background-color: #c00;
  color: #fff;
}

#merge button {
  margin: 0 .75em;
}

#merge button.default {
  font-weight: bold;
}

#modeselect {
  display: flex;
  position: absolute;
  top: 75px;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  box-shadow: 0 0 10px #222;
  background: linear-gradient(8deg, #000, #222, #333);
  box-sizing: border-box;
  border: 2px solid #ddd;
  border-radius: 6px;
  padding: 5px 5px 5px 9px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#modeselect span {
  width: 100%;
  text-align: center;
  cursor: pointer;
}

#contentcontainer[data-mode='modepush'] #modeselect #modepush,
#contentcontainer[data-mode='modeturn'] #modeselect #modeturn {
  width: 100%;
  text-align: center;
  background-color: #feff5f;
  color: black;
}

#turn {
  display: block;
}

#push {
  display: none;
}

#contentcontainer[data-mode='modepush'] #turn {
  display: none;
}
#contentcontainer[data-mode='modepush'] #push {
  display: block;
}

#contentcontainer[data-mode='modeturn'] #turn {
  display: block;
}
#contentcontainer[data-mode='modeturn'] #push {
  display: none;
}


.enc .link {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 0;
  color: #666;
  cursor: pointer;
  padding: 0 2px;
  font-size: 14px;
}

.enc .link label:hover {
  background: #888;
  color: #ddd;
}

.enc .link label:hover span {
  color: #ddd;
}

#enc15.enc .link,
*[data-mode='modepush'] .link.turn,
*[data-mode='modeturn'] .link.push  {
  display: none;
}

.link input[type='checkbox'] {
  accent-color: #feff5f;
  display: none;
} 

.link input[type='checkbox']+label {
  cursor: pointer;
}

.link input[type='checkbox']:checked+label {
  /* background-color: #feff5f; */
  color: #feff5f;
  cursor: pointer;
}

.link input[type='checkbox']:checked+label span {
  color: #feff5f;
  text-decoration: underline;
}

.link label span {
  font-family: Arial, sans-serif;
  font-size: 9px;
  color: #666;
  position: relative;
  top: -3px;
}

.selected .link,
.selected .link label span {
  color: #888;
}

#oled[data-type='4'] #turn .lower,
#oled[data-type='4'] #turn .upper {
  visibility: hidden;
}

#oled[data-pb_type='0'] #push .pb_display,
#oled[data-pb_type='0'] #push .pb_mode,
#oled[data-pb_type='0'] #push .pb_channel,
#oled[data-pb_type='0'] #push .pb_number,
#oled[data-pb_type='0'] #push .pb_lower,
#oled[data-pb_type='0'] #push .pb_upper {
  visibility: hidden;
}

#oled[data-pb_type='8'] #push .pb_mode,
#oled[data-pb_type='8'] #push .pb_channel,
#oled[data-pb_type='8'] #push .pb_number,
#oled[data-pb_type='8'] #push .pb_lower,
#oled[data-pb_type='8'] #push .pb_upper,

#oled[data-pb_type='9'] #push .pb_mode,
#oled[data-pb_type='9'] #push .pb_channel,
#oled[data-pb_type='9'] #push .pb_number,
#oled[data-pb_type='9'] #push .pb_lower,
#oled[data-pb_type='9'] #push .pb_upper,

#oled[data-pb_type='10'] #push .pb_mode,
#oled[data-pb_type='10'] #push .pb_channel,
#oled[data-pb_type='10'] #push .pb_number,
#oled[data-pb_type='10'] #push .pb_lower,
#oled[data-pb_type='10'] #push .pb_upper, 

#oled[data-pb_type='11'] #push .pb_mode,
#oled[data-pb_type='11'] #push .pb_channel,
#oled[data-pb_type='11'] #push .pb_number,
#oled[data-pb_type='11'] #push .pb_lower,
#oled[data-pb_type='11'] #push .pb_upper, 

#oled[data-pb_type='12'] #push .pb_mode,
#oled[data-pb_type='12'] #push .pb_channel,
#oled[data-pb_type='12'] #push .pb_number,
#oled[data-pb_type='12'] #push .pb_lower,
#oled[data-pb_type='12'] #push .pb_upper {
  visibility: hidden;
}

#oled[data-pb_type='6'] #push .pb_mode,
#oled[data-pb_type='6'] #push .pb_number,
#oled[data-pb_type='6'] #push .pb_lower,
#oled[data-pb_type='6'] #push .pb_upper,

#oled[data-pb_type='7'] #push .pb_mode,
#oled[data-pb_type='7'] #push .pb_number,
#oled[data-pb_type='7'] #push .pb_lower,
#oled[data-pb_type='7'] #push .pb_upper {
  visibility: hidden;
}

span.pb_channel.pb_group,
span.pb_channel.pb_set,
#oled[data-pb_type='6'] span.pb_channel,
#oled[data-pb_type='7'] span.pb_channel {
  display: none;
}

#oled[data-pb_type='6'] span.pb_channel.pb_group,
#oled[data-pb_type='7'] span.pb_channel.pb_set {
  display: inline-block;
}
