.content {
    position: relative;
}

main {
    box-sizing: border-box;
    margin: 0 auto;
    width: 500px;
    height: 818px;
    background: url("pc4.jpg") no-repeat;
    background-size: 100% 100%;
    position: relative;
    border: 1px solid #666;
    border-top: none;
}
.ctrlcontainer {
    position: absolute;
    top: 4.4584%;
    bottom: 9.78%;
    left: 3.2%;
    right: 3.2%;
}
main section {
    box-sizing: border-box;
    float: left;
    width: 25%;
    height: 16.667%;
    position: relative;
}
main section:hover {
    background-color: rgba(255,255,255,.3);
}
.ctrl {
    position: absolute;
    box-sizing: border-box;
    top: 21%;
    left: 5px;
    right: 5px;
    box-shadow: 0 0 8px #000;
}

.params {
    background-color: #eee;
    color: #000;
    border: 1px solid #666;
    border-top: none;
    font-size: .7em;
    padding: 4px;
}

.params label {
    width: 60%;
    display: inline-block;
}
.params input {
    width: 40%;
    padding: 0;
    margin: 0;
    text-align: right;
    border: none;
    font-size: 1.3em;
}
input[data-type="ccno"] {
    border-top: 1px solid #bde;
}



#tb {
    text-align: center;
    border-top: 1px solid #aaa;
    margin-top: .5em;
    padding-top: .5em;
}
#tbbottom {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 24px;
}

#midisettings {
    margin: 10px auto;
    padding: 10px 5px 10px 5px;
    width: 490px;
    text-align: center;
    color: #fff;
    background: #777 linear-gradient(#777, #555);
    font-size: .8em;
    border-radius: 6px;
}
#midisettings.unsupported {
    background: #b66;
}

#midisettings select {
    max-width: 140px;
}

.field {
    display: inline-block;
}

ul.select {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}
.msgbox h2::after,
.select::after {
    content:"";
    display:table;
    clear:both;
}
.select li {
    display: block;
    cursor: pointer;
    background-color: #000;
}

.select li.selected,
.select li:hover {
    background-color: #ccc;
    color: #000;
}

#preset {
    width: 500px;
    margin: 0 auto;
    color: #aaa;
    font-size: .85em;
}

#preset li.selected,
#preset li:hover {
    background-color: #e50a00;
    font-weight: bold;
    color: #fff;
}

.ctrl ul.select {
    width: 100%;
}

#preset li,
.ctrl li {
    box-sizing: border-box;
    border: 1px solid #666;
    border-bottom: none;
    float: left;
    text-align: center;
    font-size: .8em;
    padding: 2px;
}

#preset li {
    width: 6.25%;
}

.ctrl li {
    width: 33.334%;
    font-size: .7em;
}

.cc .ctrl li.cc,
.cc .params {
    background-color: #bde;
    color: black;
}

.pb .ctrl li.pb,
.pb .params {
    background-color: #fb9;
    color: black;
}
.pgm .ctrl li.pgm,
.pgm .params {
    background-color: #beb;
    color: black;
}
.params .cc {
    display: none;
}

.cc .params .cc {
    display: block;
}
